@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
        --cor-primaria: #E5BEB5;
        --cor-secudanria: #31363F;
        --cor-terciaria: #5C3E94;

        --fonte-principal: "Krona One", sans-serif;
        --fonte-secundaria: "Montserrat", sans-serif;
}

* {
        margin: 0;
        padding: 0;
}


body {
        box-sizing: border-box;
        background-color: var(--cor-primaria);
        color: var(--cor-secudanria);
}

.cabecalho {
        padding: 10% 0% 0% 20%;
        padding-top: 35px;
}

.cabecalho__menu {
        display: flex;
        
}

.cabecalho__menu__nav{
        font-family: var(--fonte-principal);
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--cor-secudanria);
        text-decoration: none;
        
}

.apresentacao {
        padding: 7% 18%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
}

.apresentacao__conteudo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

}


.apresentacao__conteudo__titulo {
        font-size: 2.30rem;
        font-family: var(--fonte-principal);
        color: var(--cor-terciaria);
        

}

.apresentacao__conteudo__texto {
        font-size: 1.8rem;
        font-family: var(--fonte-secundaria);
        margin-top: 20px;
}

.apresentacao__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
}

.apresentacao__links__subtitulo {
        font-family: var(--fonte-principal);
        font-weight: 500;
        font-size: 1.9rem;
        color: var(--cor-secudanria);
}

.apresentacao__links__navegacao {
         display: flex;
         border: 2px solid var(--cor-terciaria);
         width: 300px;
         text-align: center;
         border-radius: 20px;
         font-size: 1.4rem;
         font-weight: 600;
         padding: 10px 10px;
         text-decoration: none;
         color: var(--cor-terciaria);
         font-family: var(--fonte-secundaria);
         line-height: 1.2;
         background-color: #F2AEBB;
         height: 130px;
}


.apresentacao__imagem {

        width: 55%;
        border-radius: 10px;
}

.rodape {
       padding: 24px;
        color: white;
       background-color: var(--cor-terciaria);
       text-align: center;
       font-family: var(--fonte-secundaria);
       font-size: 1.5rem;
       font-weight: 400;
     
}

.rodape_frase{
    color: var(--cor-primaria);
}

